@import 'variables';

*{
  margin:0;
  padding: 0;  
}

.container {
  height: 98vh;

  display: flex;  
  /* align-items: stretch;  */

  font-family: 'Josefin Sans', sans-serif;
  
  .content {
    background-image: url(../assets/bg-pattern-desktop.svg);
    background-size: cover;    

    max-width: 900px;
    padding-left: 13rem;
    padding-right: 25rem;

    .logo{
      padding-top: 4rem;      
      padding-bottom: 7rem;

      max-width: 600px;       
    }

    .homeImgMobile{
      display: none;
    }

    .login{
      display: flex;
      flex-direction: column;

       max-width: 600px; 
      
      .title{
        display: flex;
        flex-direction: column;
        
        h1{
          font-size: 90px;
          font-weight: 300;
          color: $desaturatedRed;
        }

        h2{
          font-size: 90px;
          font-weight: 600;
          color: $brown;
        }
      }            

      .description{
        padding-top: 2rem;
        padding-bottom: 2rem;
        span{
          color: $desaturatedRed;
          font-weight: 400;
          font-size: 23px;
          line-height: 2.5rem;
        }        

      }

      form{
        .contentForm{
          display: flex;
          align-items: center;

          input{
            width: 100%;            
            border-radius: 45px;
            border: 1px solid $desaturatedRed;
            padding: 1.5rem 2.3rem;

            color: $brown;
            font-size: larger;
            font-weight: bolder;

            &:focus{
              box-shadow: 0px 0px 10px $desaturatedRedShadow;
              outline: none;  
            }

            &::placeholder{
              color: $desaturatedRedShadow;
              font-size: 16px;  
            }
          }

          button{
            height: 45px;
            width: 100px;
            border-radius: 25px;    

            cursor: pointer;
            
            /*background: 
              linear-gradient(135deg,  hsl(0, 0%, 100%), hsl(0, 100%, 98%)), 
              linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%))
            ;*/

            // background-color: $cor;
            background-image: $cor;

            &:focus{
              outline: none;
            }
          }
          
        }
      }

    }

  }

  .homeImg{
    flex: 1;
    background-image: url(../assets/hero-desktop.jpg);
    background-size: cover;
  }
}

