@import'_variables';

*{
  margin:0;
  padding: 0;  
}

body{
  background-image: url(../assets/bg-pattern-desktop.svg);
}

header{
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  .content {
    .homeImgMobile{
      display: none;
    }
  }
}

